@font-face {
  font-family: 'Noto Mono Regular';
  src:  url('./NotoMono-Regular.ttf') format('ttf'),
  url('./NotoMono-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Noto Mono Regular';
  background: url('./icon.png');
}
